<table data-toggle="table">
  <thead>
    <tr>
      <th>Onduleur</th>
      <th>Date</th>
      <th>Energie</th>
      <th>Données brutes</th>
      <th>Date</th>
      <th>DateTime</th>
    </tr>
  </thead>
  <tbody>
    <% @data.tab.each do |datum| %>
      <tr>
        <td><%= datum["identifier"] != nil ? datum["identifier"] : 'nil' %></td>
        <td><%= datum["datetime"] != nil ? datum["datetime"] : 'nil' %></td>
        <td><%= datum["energy"] != nil ? datum["energy"] : 'nil' %></td>
        <td><%= datum != nil ? datum : 'nil' %></td>
        <td><%= datum["datetime"] != nil ? DateTime.strptime(datum["datetime"], "%d/%m/%y %H:%M").to_date : 'nil' %></td>
        <td><%= datum["datetime"] != nil ? DateTime.strptime(datum["datetime"], "%d/%m/%y %H:%M") : 'nil' %></td>
      </tr>
      <% end %>
  </tbody>
</table>
