<h1>Installation photovoltaïque - Données datalogger</h1>

<p><%= link_to "Page de prévisulation et d'importation des données CSV", hourly_data_path %></p>

<h2>Statistiques</h2>
<p>Nombre d'onduleurs : <%= @inverters.count %> </p>
<p>Nombre de jours : <%= @daily_data.count %> </p>
<p>Nombre de données : <%= @hourly_data.count %> </p>


<h2>Données selectionnées</h2>

<p>Production totale :</p>
<p>Production horaire :</p>

<%= render "selected_data" %>

<h2>Données journalières</h2>
<%= render "table_row" %>
